.header{
    padding: 24px 50px;
    display: $ds-flex;
    justify-content: $jc-between;
    .logo{
        font-size: 24px;
        line-height: 29px;
    }
    .menu{
        display: $ds-flex;
        justify-content: $jc-evenly;
        width: 300px;
        font-family: 'Roboto';
    }
}